html, body {
    height: 100%;
    background-color: rgb(36, 36, 36);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 50px;
    border-radius: 5px;
    margin: 8px;
    margin-right: 10px;
}

.disable {
    opacity: 0.6;
    cursor: not-allowed;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.center-div {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.buttonGet {
    background-color: #00ffc8;
    border: 2px rgb(88, 119, 255);
}

.buttonGet:hover {
    background-color: #00c3ff;
    color: rgb(0, 0, 0);
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #5f5f5fab;
    border: 2px rgb(255, 255, 255);
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 5px;
}